<div class="container admin-content shadow-sm">
  <%= simple_form_for @user, as: :user, defaults: { label: false }, url: user_registration_path, html: { method: :put } do |f| %>
    <div class="form-inputs pro-form-padding">
      <div class="form-group">
        <div class="row">
          <div class="col-sm-3 hr-form-title">
            <h5>Mot de passe</h5><hr>
          </div>
          <div class="col-sm-9 pro-form-input">
            <label>Nouveau mot de passe</label>
            <%= f.input :password, autocomplete: "off", hint: "Laissez le vide si vous ne souhaitez pas le changer", required: false %>
            <label>Confirmation du nouveau mot de passe</label>
            <%= f.input :password_confirmation, required: false %><br>
          </div><br>
          <div class="col-sm-3 hr-form-title">
            <h5>Confirmation</h5><hr>
          </div>
          <div class="col-sm-9 pro-form-input">
            <label>Mot de passe actuel</label>
            <%= f.input :current_password, hint: "Nous avons besoin de votre mot de passe actuel pour confirmer les changements", required: true %><br>
          </div>
        </div>
      </div>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Valider les changements", class: "btn btn-success btn-lg btn-block" %>
    </div>
  <% end %>