<div class="row show-tabs">
  <div class="col-sm-6">
    <h5 class="mb-4">Indicateurs importants</h5>
    <p><b>Loyer mensuel estimé : </b><%= to_currency(@real_estate.monthly_rent_estimation.round(2)) %></p>
    <p><b>Charges annuelles : </b><%= to_currency(@real_estate.annual_charges.round(2)) %></p>
    <p><b>Rendement brut : </b><%= to_percentage(@profitability.gross_yield.round(2)) %></p>
    <p><b>Rendement net : </b><%= to_percentage(@profitability.net_yield.round(2)) %></p>
    <p><b>Cashflow mensuel : </b><%= to_currency(@profitability.monthly_cashflow.round(2)) %></p>
    <p><b>Cashflow annuel : </b><%= to_currency(@profitability.annual_cashflow.round(2)) %></p>
    <p><b>Impot société SCI : </b><%= to_currency(@profitability.company_taxes.round(2)) %></p>
    <p><b>Cashflow mensuel après impôts : </b><%= to_currency(@profitability.monthly_cashflow_after_taxes.round(2)) %></p>
    <p><b>Cashflow annuel après impôts : </b><%= to_currency(@profitability.annual_cashflow_after_taxes .round(2)) %></p>
  </div>
  <div class="col-sm-6">
    <h5 class="mb-4">Frais annuels</h5>
    <p><b>Crédit annuel : </b><%= to_currency(@profitability.credit.round(2)) %></p>
    <p><b>Mensualité de crédit : </b><%= to_currency(@profitability.menscredit.round(2)) %></p>
    <p><b>Charges de copropriété : </b><%= to_currency(@profitability.coownership_charges.round(2)) %></p>
    <p><b>Assurance habitation : </b><%= to_currency(@profitability.house_insurance.round(2)) %></p>
    <p><b>Assurance loyers impayés : </b><%= to_currency(@profitability.rent_insurance.round(2)) %></p>
    <p><b>Taxe foncière : </b><%= to_currency(@profitability.property_tax.round(2)) %></p>
    <p><b>Gestion administrative : </b><%= to_currency(@profitability.administrative_management.round(2)) %></p>
    <p><b>Assurance crédit : </b><%= to_currency(@profitability.credit_insurance.round(2)) %></p>
    <p><b>Divers : </b><%= to_currency(@profitability.various.round(2)) %></p>
    <p><b>Total des frais annuels : </b><%=to_currency(@profitability.total_annual_fees.round(2)) %></p>
  </div>
  <div class="col-sm-6">
    <h5 class="mb-4">Prix d'acquisition du bien</h5>
    <p><b>Prix d'achat : </b><%= to_currency(@real_estate.buying_price.round(2)) %></p>
    <p><b>Notaire : </b><%= to_currency(@profitability.notary.round(2)) %></p>
    <p><b>Travaux : </b><%= to_currency(@real_estate.works_budget.round(2)) %></p>
    <p><b>Ameublement : </b><%= to_currency(@real_estate.furniture_budget.round(2)) %></p>
    <p><b>Autres : </b><%= to_currency(@profitability.others.round(2)) %></p>
    <p><b>Prix total d'acquisition : </b><%= to_currency(@profitability.total_acquisition.round(2)) %></p>
  </div>
  <div class="col-sm-6">
    <h5 class="mb-4">Revenus locatifs</h5>
    <p><b>Loyer mensuel CC : </b><%= to_currency(@profitability.monthly_rate.round(2)) %></p>
    <p><b>Vacances locatives : </b><%= to_currency(@profitability.holiday_rent.round(2)) %></p>
    <p><b>Total revenus locatifs annuels : </b><%= to_currency(@profitability.total_rent_revenues.round(2)) %></p>
  </div>
</div>



